@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    overflow: hidden;
    position: relative;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E3E0DD;
}

#page h1{
    font-size: 95px;
    position: absolute;
    font-weight: 600;
    z-index: 99;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#page h3{
    font-size: 30px;
    position: absolute;
    font-weight: 500;
    z-index: 99;
    top: 59%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.nav img{
    width: 10%;
    cursor: pointer;
    margin-left: 20px;
}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-align: center;
    margin-top: 3px;
}

.nav button{
    padding: 15px 22px;
    border-radius: 10px;
    border: none;
    background-color: #FFD687;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    margin-right: 7px;
    transition: all 0.5s ease;
}


.nav button:hover{
    background-color: #e2af4f;
}


.nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;
    top: 2%;
    background-color: white;
    border-radius: 20px;
    height: 7vh;
    width: 32vw;
    z-index: 99;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(10px);
}

canvas{
    height: 100vh;
    position: relative;
    width: 100vw;
    z-index: 9;
}



#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color:  #E3E0DD;
}

#page1 h1{
    font-size: 95px;
    position: absolute;
    font-weight: 600;
    z-index: 99;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#page1 h3{
    
    font-size: 28px;
    position: absolute;
    font-weight: 500;
    z-index: 99;
    top: 59%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#page2{
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3{
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
#page4{
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color:#E3E0DD;
}

#page4 h1{
    font-size: 75px;
    position: absolute;
    font-weight: 600;
    z-index: 99;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#page4 h3{
    font-size: 28px;
    position: absolute;
    font-weight: 500;
    z-index: 99;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#page5{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.center{
    display: flex;
    left: 50%;
    border-radius: 10px;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    height: 60%;
    width: 64%;
    background-color: #F7F3EF;
}

.center-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
    padding: 30px 40px;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.center-right h1{
    font-size: 60px;
}

.center-right h4{
    font-size: 18px;
    line-height: 33px;
}

.center-right button{
    padding: 10px 27px;
    border-radius: 10px;
    border: black;
    background-color:black;
    color: white;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    margin-right: 7px;
    transition: all 0.4s ease;
}

.center-right button:hover{
    background-color: #E2AF50;
    color: black;
}
.center-left{
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.center-left svg{
    scale: 0.8;
}

#page6{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

.left6{
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 40px;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.left6 h1{
    font-size: 60px;
    
}

.left6 h4{
    width: 50%;
    line-height: 35px;
    font-weight: 600;
    font-size: 20px;
}

.right6{
    position: relative;
    height: 100%;
    width: 50%;
}

.right6 video{
    height: 70%;
    width: 90%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
#page7{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

.right7{
    height: 100%;
    width: 50%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 40px;
    padding: 30px 40px;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.right7 h1{
    font-size: 60px;
    
}

.right7 h4{
    width: 50%;
    line-height: 35px;
    font-weight: 600;
    font-size: 20px;
}

.left7{
    position: relative;
    height: 100%;
    width: 50%;
}

.left7 video{
    height: 70%;
    width: 100%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#page8{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

.left8{
    height: 100%;
    width: 50%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 30px 40px;
    height: 100%;
    width: 50%;
    background-color: transparent;
}

.left8 h1{
    font-size: 60px;
}

.left8 h4{
    width: 50%;
    line-height: 40px;
    font-weight: 600;
    font-size: 20px;
}

.right8{
    position: relative;
    height: 100%;
    width: 50%;
}

.right8 img{
    height: 55%;
    width: 65%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}

#footer{
    display: flex;
    position: relative;
    height: 81vh;
    width: 100vw;
    background-color: #2F2F2F;
}

.btn{
    padding: 17px 43px;
    border-radius: 10px;
    border: none;
    background-color: #FFD687;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover{
    transform: scaleX(1.1);
    background-color: #e2af4f;
}


.first{
    position: absolute;
    top: 11%;
    left: 20%;
}

.second{
    position: absolute;
    top: 63%;
    left: 20%;
}

.logo-pic{
    height: 45%;
    width: 25%;
    filter: invert(100%) sepia(100%) saturate(0%);
    margin-bottom: 27px;
}

.socials{
    position: absolute;
    display: flex;
}

.socials img{
    height: 90%;
    width: 35%;
    filter: invert(100%) sepia(100%) saturate(0%);
    transition: all 0.4s ease;
}

.socials img:hover{
    transform: scale(1.3);
}

#footer h1{
    color: white;
    font-size: 80px;
    margin-bottom: 50px;
}

.exs{
    position: absolute;
    display: flex;
    gap: 100px;
    left: 50%;
    top: 10%;
    transform: translateX(100%);
}
.exs h2{
    font-size: 23px;
    margin-bottom: 23px; 
}

.exs h2 a{
    transition: all 0.4s ease;
}

.exs h2 a:hover{
    color: #E2AF4F;
}

.elements a{
    font-size: 18px;
    margin-bottom: 3px;
    transition: all 0.4s ease;
}

.elements a:hover{
    color: #E2AF4F;
}

.exs a{
    text-decoration: none;
    color: white;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}
.zelt{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.zelt h1{
    font-size: 100px;
    font-weight: 900;
}


  @media only screen and (max-width: 414px) {  
    .nav {
        width: 96%;  
        left: 50%;
        transform: translateX(-50%);
    }

    .nav a{
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        margin-top: 3px;
        margin-right: 9px;
    }

    .nav button{
        padding: 9px 9px;
        border-radius: 10px;
        border: none;
        background-color: #FFD687;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        margin-right: 10px;
        margin-left: px;
        transition: all 0.5s ease;
    }

    .nav img{
        width: 10%;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 13px;
    }

    #page h1{
        font-size: 55px;
        position: absolute;
        font-weight: 600;
        z-index: 99;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    #page h3{
        font-size: 26px;
        position: absolute;
        font-weight: 500;
        z-index: 99;
        top: 68%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

    #page1 h1{
        font-size: 75px;
        position: absolute;
        font-weight: 600;
        z-index: 99;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
    #page1 h3{
        
        font-size: 25px;
        position: absolute;
        font-weight: 500;
        z-index: 99;
        top: 68%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    
}